body {
    background-image: url("foto.webr");
    background-repeat: no-repeat;
    background-size: cover;
}
.text1 {
    text-align: center;
    color: orange;
    font-size: 35px;
    font-family: sans-serif;
}
#rectangle {
    width: 55px;
    height: 4px;
    background-color: orange;
    margin: auto;
}
.text2 {
    text-align: center;
    color: rgb(33, 105, 168);
    font-family: sans-serif;
}
.item {
    background-color: white;
    display: inline-block;
    box-sizing: border-box;
    width: 20%;
    border-radius: 1px; 
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 240px;
    margin-right: -20%;
    padding: 20px;
    text-align: center;
}
.image {
    width: 35%;
    margin-bottom: 5px;
}
    

.image+br+span {
    font-family: sans-serif;
    color: rgb(80, 79, 79);
    font-size: 15px;
}
.text3 {
    text-align: center;
    color: rgb(205, 54, 54);
    font-family: sans-serif;
}
span {
    text-decoration: underline;
}
footer {
    color: rgb(139, 126, 126);
    text-align: center;
    background-color: rgb(214, 84, 66);
    padding: 1.5%;
    margin-left: -15px;
    margin-right: -8px;
    margin-bottom: -8px;
}
